@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800");
html { position: relative; min-height: 100%; font-size: 62.5%; font-family: 'Open Sans'; background: #F9F9F9; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; font-size: 1.5em; line-height: 1.6; color: #222; }

h2 { margin: 0; padding: 20px 10px 0px 10px; color: #56C5D1; text-align: left; }

h2 a { color: #b1b3b3; cursor: pointer; }

header { display: block; width: 100%; background: white; height: 60px; border-bottom: solid 1px #C71953; text-align: center; }

header img { height: 55px; }

header label { width: 35px; height: 35px; font-size: 32px; color: #C71953; }

header label:hover { cursor: pointer; color: #e2e2e2; }

@media (min-width: 1024px) { header { border: none; } }

nav.menu { display: none; text-align: center; background: white; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: solid 1px #C71953; -webkit-box-shadow: 1px 25px 33px -32px rgba(0, 0, 0, 0.36); box-shadow: 1px 25px 33px -32px rgba(0, 0, 0, 0.36); -webkit-transition: 0.4s ease-in-out; -o-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out; }

nav.menu ul { display: block; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media (min-width: 1024px) { nav.menu ul { display: inline; padding: 10px; } }

nav.menu li { color: #C71953; width: 100%; padding: 10px; font-size: 18px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-weight: 800; text-decoration: none; cursor: pointer; list-style: none; }

@media (min-width: 1024px) { nav.menu li { padding: 10px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; width: 18%; border-top-right-radius: 10px; border-top-left-radius: 10px; } }

@media (min-width: 1024px) and (min-width: 1440px) { nav.menu li { width: 12%; } }

nav.menu li:hover { background: #C71953; color: white; }

@media (min-width: 1024px) { nav.menu { display: block; } }

aside { display: block; background: white; width: 96%; border-radius: 10px; border: solid 1px #e2e2e2; margin: 2%; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media (min-width: 1024px) { aside { margin: 15px; } }

aside li { cursor: pointer; text-decoration: none; list-style: none; padding: 4px 10px 4px 10px; }

aside li:hover { background: #bbb; }

aside h3 { font-size: 30px; padding: 5px; color: #C71953; border-bottom: solid 1px #bbb; }

@media (min-width: 1024px) { aside h3 { padding: 13px; } }

aside h4 { color: #56C5D1; margin-top: 0px; padding: 10px; font-size: 16px; background: white; }

@media (min-width: 1024px) { aside h4 { color: white; font-size: 18px; background: #C71953; } }

aside h6 { color: #56C5D1; margin-top: 0px; font-size: 18px; padding: 2px; }

.title-productos { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }

@media (min-width: 1440px) { .title-productos { padding: 0 2% 0px 2%; } }

.productos { text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 7px 0 60px 0; }

@media (min-width: 1024px) { .productos { text-align: left; } }

@media (min-width: 1440px) { .productos { padding: 0 2% 60px 2%; } }

article.articule { background: white; border-radius: 10px; border: solid 1px #e2e2e2; display: inline-block; margin: 10px; width: 250px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; -webkit-transition: -webkit-box-shadow 0.4s; transition: -webkit-box-shadow 0.4s; -o-transition: box-shadow 0.4s; transition: box-shadow 0.4s; transition: box-shadow 0.4s, -webkit-box-shadow 0.4s; }

article.articule img { border-radius: 10px; margin: 10px; height: 210px; cursor: pointer; }

article.articule div { color: #C71953; -webkit-box-sizing: border-box; box-sizing: border-box; }

article.articule h6 { padding: 7px; }

article.articule h5 { font-size: 18px; border-top: solid 1px #bbb; margin: 4px; }

@media (min-width: 1024px) { article.articule { margin: 8px; } }

@media (min-width: 1440px) { article.articule { margin: 1.5%; } }

article.articule:hover { -webkit-box-shadow: 3px 2px 28px -15px rgba(0, 0, 0, 0.61); box-shadow: 3px 2px 28px -15px rgba(0, 0, 0, 0.61); }

details, figure, footer, section { display: block; }

footer { position: absolute; width: 97%; height: 38px; bottom: 0; border-top: 1px solid #e2e2e2; padding: 10px; padding: 5px; font-size: 14px; line-height: 3em; color: grey; font-weight: 300; }

footer p { text-align: center; margin: 5px; }

#btn-menu { display: none; }

#btn-menu:checked ~ .menu { position: fixed; display: block; }

input[type=search] { display: inline-block; width: 1px; background: white; border: 0; }

input[type=search]:focus { width: 100%; position: relative; font-family: "Open Sans"; font-weight: 600; color: #C71953; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 2px solid; border-top: 2px solid; padding: 10px; font-size: 20px; line-height: 1.8; outline: none; -webkit-transition: width 0.4s ease-in-out; -o-transition: width 0.4s ease-in-out; transition: width 0.4s ease-in-out; }

.show { display: none; }

@media (min-width: 1024px) { .show { display: block; } }

@media (min-width: 1024px) { .noshow { display: none; } }

.btn { float: left; width: 20%; }

@media (min-width: 1024px) { .btn { width: 2%; } }

.logo { float: left; width: 60%; }

@media (min-width: 1024px) { .logo { width: 96%; } }

.container { position: relative; width: 100%; max-width: 1024px; margin: 0 auto; padding: 0 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media (min-width: 320px) { .container { width: 85%; padding: 0; } }

.column, .columns { float: left; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media (min-width: 1024px) { .two.columns { width: 17%; }
  .ten.columns { width: 80%; } }

@media (min-width: 1440px) { .column:first-child, .columns:first-child { margin-left: 24px; }
  .one.column, .one.columns { width: 4.66666666667%; }
  .three.columns { width: 30%; }
  .four.columns { width: 30.6666666667%; }
  .five.columns { width: 39.3333333333%; }
  .six.columns { width: 48%; }
  .seven.columns { width: 56.6666666667%; }
  .eight.columns { width: 65.3333333333%; }
  .nine.columns { width: 70%; }
  .ten.columns { width: 80%; }
  .eleven.columns { width: 91.3333333333%; }
  .twelve.columns { width: 100%; margin-left: 0; }
  .one-third.column { width: 30.6666666667%; }
  .two-thirds.column { width: 65.3333333333%; }
  .one-half.column { width: 48%; }
  .offset-by-one.column, .offset-by-one.columns { margin-left: 8.66666666667%; }
  .offset-by-two.column, .offset-by-two.columns { margin-left: 1.3333333333%; }
  .offset-by-three.column, .offset-by-three.columns { margin-left: 26%; }
  .offset-by-four.column, .offset-by-four.columns { margin-left: 34.6666666667%; }
  .offset-by-five.column, .offset-by-five.columns { margin-left: 43.3333333333%; }
  .offset-by-six.column, .offset-by-six.columns { margin-left: 52%; }
  .offset-by-seven.column, .offset-by-seven.columns { margin-left: 60.6666666667%; }
  .offset-by-eight.column, .offset-by-eight.columns { margin-left: 69.3333333333%; }
  .offset-by-nine.column, .offset-by-nine.columns { margin-left: 78.0%; }
  .offset-by-ten.column, .offset-by-ten.columns { margin-left: 86.6666666667%; }
  .offset-by-eleven.column, .offset-by-eleven.columns { margin-left: 95.3333333333%; }
  .offset-by-one-third.column, .offset-by-one-third.columns { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column, .offset-by-two-thirds.columns { margin-left: 69.3333333333%; }
  .offset-by-one-half.column, .offset-by-one-half.columns { margin-left: 52%; } }

h1, h3, h4, h6 { margin-top: 0; margin-bottom: 0; font-weight: 800; }

h5 { font-weight: 300; }

h1 { font-size: 4.0rem; line-height: 1.2; letter-spacing: -.1rem; }

h3 { font-size: 3.0rem; line-height: 1.3; letter-spacing: -.1rem; }

h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }

h5 { font-size: 1.8rem; line-height: 1.5; letter-spacing: -.05rem; }

h6 { font-size: 2.2rem; line-height: 1.6; letter-spacing: 0; }

@media (min-width: 1440px) { h1 { font-size: 5.0rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 2.4rem; } }

p { margin-top: 0; }

.button, button, input[type="submit"], input[type="reset"], input[type="button"] { display: inline-block; width: 100%; padding: 5px 30px; color: white; text-align: center; font-size: 17px; font-weight: 600; line-height: 38px; text-transform: uppercase; text-decoration: none; white-space: nowrap; background-color: #56C5D1; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; border: 0 solid; cursor: pointer; }

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus { background: #C71953; color: #333; outline: 0; }

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary { color: #FFF; background-color: #33C3F0; border-color: #33C3F0; }

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus { color: #FFF; background-color: #1EAEDB; border-color: #1EAEDB; }

th, td { padding: 12px 15px; text-align: left; border-bottom: 1px solid #E1E1E1; }

th:first-child, td:first-child { padding-left: 0; }

th:last-child, td:last-child { padding-right: 0; }

ul { list-style: circle inside; }

ol { list-style: decimal inside; }

ol, ul { padding-left: 0; margin-top: 0; }

ul ul, ul ol, ol ol, ol ul { margin: 1.5rem 0 1.5rem 3rem; font-size: 90%; }

.u-full-width { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.u-max-full-width { max-width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.u-pull-right { float: right; }

.u-pull-left { float: left; }

hr { margin-top: 3rem; margin-bottom: 3.5rem; border-width: 0; border-top: 1px solid #E1E1E1; }

.container:after, .row:after, .u-cf { content: ""; display: table; clear: both; }
